body {
  text-align: center;
}

header {
  margin: 40px 0;
}
header h3 a {
  color: #000;
}

main .examplesContainer {
  padding: 25px 0 45px 0;
}
main .examplesContainer:nth-child(odd) {
  background: rgb(151, 180, 211);
}
main .examplesContainer:nth-child(even) {
  background: #fff;
}
main .examplesContainer .carouselContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .examplesContainer .carouselContainer .slick-dots button {
  padding-top: 1px;
}
main .examplesContainer .carouselContainer .slick-dots button:focus {
  outline: 1px dashed blue;
  outline-offset: -3px;
  border-radius: 10px;
}
main .examplesContainer .carouselContainer .slick-prev, main .examplesContainer .carouselContainer .slick-next {
  padding-top: 1px;
}
main .examplesContainer .carouselContainer .slick-prev:before, main .examplesContainer .carouselContainer .slick-next:before {
  color: blue;
}
main .examplesContainer .carouselContainer .slick-prev:hover, main .examplesContainer .carouselContainer .slick-prev:focus, main .examplesContainer .carouselContainer .slick-next:hover, main .examplesContainer .carouselContainer .slick-next:focus {
  outline: 1px dashed blue;
  outline-offset: 2px;
  border-radius: 10px;
}
main .examplesContainer .carouselContainer .slick-slide img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
main .examplesContainer .carouselContainer .slick-slide {
  width: 200px;
}
main .examplesContainer .carouselContainer .carousel {
  max-width: 519px;
}
@media (max-width: 767px) {
  main .examplesContainer .carouselContainer .carousel {
    max-width: 80%;
  }
}
main .examplesContainer pre {
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: 0.9em;
}
@media (min-width: 768px) {
  main .examplesContainer pre {
    font-size: 1.2em;
  }
}
main .examplesContainer pre code {
  text-align: left;
}
main .examplesContainer pre code b {
  color: blue;
  font-weight: 700;
  line-height: 1.3em;
  text-align: left;
}
@media (min-width: 768px) {
  main .examplesContainer .mobileVersion {
    display: none;
  }
}
@media (max-width: 767px) {
  main .examplesContainer .desktopVersion {
    display: none;
  }
}
main .examplesContainer .appendArrowsMobileContainer {
  border: 1px dotted red;
  margin: 0 auto;
  max-width: 80%;
  background-color: #ddd;
  padding: 10px 0 0 0;
}
@media (min-width: 767px) {
  main .examplesContainer .appendArrowsMobileContainer {
    background-color: #fff;
    display: none;
  }
}
main .examplesContainer .appendArrowsMobileContainer .appendArrowsMobile {
  justify-content: center;
  position: relative;
  height: 40px;
  width: 0;
  margin: 0 auto;
}
main .examplesContainer .appendArrowsMobileContainer .appendArrowsMobile button {
  background-color: red;
  border-radius: 10px;
  padding-top: 1px;
}
main .examplesContainer .appendArrowsDesktopContainer {
  border: 1px dotted red;
  margin: 0 auto;
  max-width: 519px;
  background-color: #ddd;
  padding: 10px 0 0 0;
}
@media (max-width: 767px) {
  main .examplesContainer .appendArrowsDesktopContainer {
    background-color: #fff;
    display: none;
  }
}
main .examplesContainer .appendArrowsDesktopContainer .appendArrowsDesktop {
  justify-content: center;
  position: relative;
  height: 40px;
  width: 0;
  margin: 0 auto;
}
main .examplesContainer .appendArrowsDesktopContainer .appendArrowsDesktop button {
  background-color: red;
  border-radius: 10px;
  padding-top: 1px;
}

footer h2 a {
  color: #000;
  text-decoration: none;
}
footer table {
  font-size: 1.2em;
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}
footer table * {
  border: 1px solid #777;
}
@media (max-width: 767px) {
  footer table {
    font-size: 1em;
    width: 100%;
  }
}
footer table tr th, footer table tr td {
  text-align: left;
  padding: 8px 15px;
}
@media (max-width: 767px) {
  footer table tr th, footer table tr td {
    padding: 5px 8px;
  }
}
footer table tr th code, footer table tr td code {
  margin: 7px 0;
  display: block;
}
footer table tr:nth-child(even) {
  background-color: #D6EEEE;
}/*# sourceMappingURL=main.css.map */