body {
  text-align: center;
}

header {
  margin: 40px 0;
}
header h3 a {
  color: #000;
}

main .examplesContainer {
  padding: 25px 0 45px 0;
}
main .examplesContainer:nth-child(odd) {
  background: rgb(151, 180, 211);
}
main .examplesContainer:nth-child(even) {
  background: #fff;
}
main .examplesContainer .carouselContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .examplesContainer .carouselContainer .carousel {
  max-width: 519px;
}
@media (max-width: 767px) {
  main .examplesContainer .carouselContainer .carousel {
    max-width: 80%;
  }
}
main .examplesContainer .carouselContainer .carousel .slick-dots button {
  padding-top: 1px;
}
main .examplesContainer .carouselContainer .carousel .slick-dots button:focus {
  outline: 1px dashed blue;
  outline-offset: -3px;
  border-radius: 10px;
}
main .examplesContainer .carouselContainer .carousel .slick-prev, main .examplesContainer .carouselContainer .carousel .slick-next {
  padding-top: 1px;
}
main .examplesContainer .carouselContainer .carousel .slick-prev:before, main .examplesContainer .carouselContainer .carousel .slick-next:before {
  color: blue;
}
main .examplesContainer .carouselContainer .carousel .slick-prev:hover, main .examplesContainer .carouselContainer .carousel .slick-prev:focus, main .examplesContainer .carouselContainer .carousel .slick-next:hover, main .examplesContainer .carouselContainer .carousel .slick-next:focus {
  outline: 1px dashed blue;
  outline-offset: 2px;
  border-radius: 10px;
}
main .examplesContainer .carouselContainer .carousel .slick-slide img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
main .examplesContainer .carouselContainer .carousel .slick-slide {
  width: 200px;
}
main .examplesContainer pre {
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: 0.9em;
}
@media (min-width: 768px) {
  main .examplesContainer pre {
    font-size: 1.2em;
  }
}
main .examplesContainer pre code {
  text-align: left;
}
main .examplesContainer pre code b {
  color: green;
  font-weight: 700;
  line-height: 1.3em;
  text-align: left;
}
main .examplesContainer pre code b.purple {
  color: purple;
}
main .examplesContainer pre code b.orange {
  color: orange;
}
main .examplesContainer .appendArrowsMobileContainer {
  border: 1px dotted red;
  margin: 0 auto;
  max-width: 80%;
  background-color: #ddd;
  padding: 10px 0 0 0;
}
@media (min-width: 768px) {
  main .examplesContainer .appendArrowsMobileContainer .mobileVersion {
    display: none;
  }
}
@media (min-width: 767px) {
  main .examplesContainer .appendArrowsMobileContainer {
    background-color: #fff;
    display: none;
  }
}
main .examplesContainer .appendArrowsMobileContainer .appendArrowsMobile {
  justify-content: center;
  position: relative;
  height: 40px;
  width: 0;
  margin: 0 auto;
}
main .examplesContainer .appendArrowsMobileContainer .appendArrowsMobile button {
  background-color: red;
  border-radius: 10px;
  padding-top: 1px;
}
main .examplesContainer .appendArrowsDesktopContainer {
  border: 1px dotted red;
  margin: 0 auto;
  max-width: 519px;
  background-color: #ddd;
  padding: 10px 0 0 0;
}
@media (max-width: 767px) {
  main .examplesContainer .appendArrowsDesktopContainer .desktopVersion {
    display: none;
  }
}
@media (max-width: 767px) {
  main .examplesContainer .appendArrowsDesktopContainer {
    background-color: #fff;
    display: none;
  }
}
main .examplesContainer .appendArrowsDesktopContainer .appendArrowsDesktop {
  justify-content: center;
  position: relative;
  height: 40px;
  width: 0;
  margin: 0 auto;
}
main .examplesContainer .appendArrowsDesktopContainer .appendArrowsDesktop button {
  background-color: red;
  border-radius: 10px;
  padding-top: 1px;
}
main .examplesContainer#c11 .appendDotsContainer {
  display: flex;
  justify-content: center;
}
main .examplesContainer#c11 .appendDotsContainer .appendDots {
  background-color: green;
  height: 40px;
}
main .examplesContainer#c11 .appendDotsContainer .appendDots .slick-dots {
  background-color: #fff;
  position: static;
}
main .examplesContainer#c11 .carouselContainer {
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 991px) {
  main .examplesContainer#c11 .carouselContainer {
    flex-direction: column;
  }
}
main .examplesContainer#c11 .carouselContainer .previous, main .examplesContainer#c11 .carouselContainer .next {
  font-weight: bold;
  position: relative;
  font-size: 12px;
  color: #000;
  flex: 0 0 auto;
  width: 70px;
  min-height: 25px;
}
main .examplesContainer#c11 .carouselContainer .previous:before, main .examplesContainer#c11 .carouselContainer .previous:after, main .examplesContainer#c11 .carouselContainer .next:before, main .examplesContainer#c11 .carouselContainer .next:after {
  color: purple;
}
main .examplesContainer#c11 .carouselContainer .slick-dotted.slick-slider {
  margin-bottom: 0;
}
main .examplesContainer#c11 .carouselContainer .arrow1:after {
  content: "(Text)";
  position: absolute;
  top: 3px;
}
main .examplesContainer#c11 .carouselContainer .previous.arrow1:after {
  content: "(Text)";
  left: -45px;
}
main .examplesContainer#c11 .carouselContainer .next.arrow1:after {
  content: "(Text)";
  left: 84px;
}
main .examplesContainer#c11 .carouselContainer .arrow2:after {
  content: "(Text arrows)";
  position: absolute;
  top: 3px;
  white-space: nowrap;
}
main .examplesContainer#c11 .carouselContainer .previous.arrow2:after {
  content: "(Text arrows)";
  left: -82px;
}
main .examplesContainer#c11 .carouselContainer .next.arrow2:after {
  content: "(Text arrows)";
  left: 84px;
}
main .examplesContainer#c11 .carouselContainer .buttonsContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
main .examplesContainer#c11 .carouselContainer .buttonsContainer .arrow3Container {
  height: 62px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .examplesContainer#c11 .carouselContainer .buttonsContainer .arrow3Container .arrow3 {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 11px;
  position: relative;
  background-color: transparent;
  width: 22px;
}
main .examplesContainer#c11 .carouselContainer .buttonsContainer .arrow3Container .arrow3:before {
  content: "(CSS)";
  position: absolute;
}
main .examplesContainer#c11 .carouselContainer .buttonsContainer .arrow3Container .arrow3.previous {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 5px;
}
main .examplesContainer#c11 .carouselContainer .buttonsContainer .arrow3Container .arrow3.previous:before {
  transform: rotate(224deg);
  -webkit-transform: rotate(224deg);
  top: 52px;
  left: 46px;
}
main .examplesContainer#c11 .carouselContainer .buttonsContainer .arrow3Container .arrow3.next {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 5px;
}
main .examplesContainer#c11 .carouselContainer .buttonsContainer .arrow3Container .arrow3.next:before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: 48px;
  right: 0;
  bottom: 0;
  left: 55px;
}
main .examplesContainer#c11 .carouselContainer .arrow4 img {
  width: 50px;
}
main .examplesContainer#c11 .carouselContainer .arrow4.previous:after {
  content: "(Image)";
  position: absolute;
  top: 20px;
  left: -56px;
}
main .examplesContainer#c11 .carouselContainer .arrow4.next:after {
  content: "(Image)";
  position: absolute;
  top: 20px;
  left: 84px;
}
main .examplesContainer#c12 .slick-list {
  border-left: 3px solid orange;
  border-right: 3px solid orange;
}
main .examplesContainer#c12 .slick-list img {
  outline: 3px solid orange;
  outline-offset: -3px;
}
main .examplesContainer#c12 .slick-list img.slick-active {
  outline: none;
}

footer h2 a {
  color: #000;
  text-decoration: none;
}
footer table {
  font-size: 1.2em;
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}
footer table * {
  border: 1px solid #777;
}
@media (max-width: 767px) {
  footer table {
    font-size: 1em;
    width: 100%;
  }
}
footer table tr th, footer table tr td {
  text-align: left;
  padding: 8px 15px;
}
@media (max-width: 767px) {
  footer table tr th, footer table tr td {
    padding: 5px 8px;
  }
}
footer table tr th code, footer table tr td code {
  margin: 7px 0;
  display: block;
}
footer table tr:nth-child(even) {
  background-color: #D6EEEE;
}/*# sourceMappingURL=main.css.map */